
div.flexifilter-text {
  background: #e9d0fb;
  border: 1px solid #8f0ced;
  padding: 2px;
  margin-bottom: 15px;
}

div.flexifilter-plain-text {
  background: #e9d0fb;
  border: 1px solid #8f0ced;
  padding: 2px;
  margin-bottom: 15px;
}

div.flexifilter-even {
  border: 1px solid #00aa00;
  background: #dfd;
  padding: 5px;
  margin: 10px;
}

div.flexifilter-odd {
  border: 1px solid #f0c020;
  background: #ffd;
  padding: 5px;
  margin: 10px;
}